:root{
    --color-purple:#632ce7;
    --color-orange:#f28331;
    --color-green:#1ab255;
    --color-blue:#1F2041;
    --color-white:white;
}

/* nav */
body{
    font-family: 'Montserrat', sans-serif;
    color: #1F2041;
}
a{
    color:inherit;
}
h1{
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 55px;
}
.nav-link {
    color:#1F2041;
    text-decoration: underline wavy var(--color-green);
    text-underline-offset: 9px;
    font-size: 25px;
    font-weight: bold;
}
.nav-link:hover {
    color:#f28331;
   
}
.navbar-brand > img{
    margin-top: 15px;
    width: 215px;
}
.navbar-main .active{
    text-decoration: underline wavy var(--color-purple);
    text-underline-offset: 18px;
}
.btn-primary {
    justify-content: center;
    align-items: center;
    --size:40px;
    width: 50%;
    margin-left: 65px;
    margin-top: 25px;
    border-radius: 25px; /* Esquinas redondeadas */
    background-color: #f28331; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    font-size: 25px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #0e8927; /* Color de fondo al pasar el ratón */
  }
  .navbar-toggler {
    margin-right: 25px;
  }
.photo-frame{
    font-size: 20px;
}
.photo-frame::before, .photo-frame::after{
    content:"";
    display:block;
    width: var(--box-size);
    height:var(--box-size);
    position:absolute;
    z-index:-10;
    animation:turnZ 7s linear alternate-reverse infinite;
}
.photo-frame::before{
    --box-size:3em;
    background-image: radial-gradient(
        var(--color-orange)50%,
        var(--color-green)50%
    );
    top:calc( 99% - (var(--box-size) / 2));
    right: calc( 99% - (var(--box-size) / 2));
}
.photo-frame::after{
    --box-size:5em;
    bottom:calc(98% - (var(--box-size) / 2));
    left: calc(98% - (var(--box-size) / 2));
    background:linear-gradient(45deg,
    var(--color-white)45%,
    transparent 45%
    ),
    radial-gradient(
        var(--color-green)30%,
        var(--color-orange) 30% 70%,
        var(--color-blue)70%,
        transparent 70%
    );
}
@keyframes turnZ {
    to{
        transform: rotate(1turn);
    }
}
.header-main{
    height: 100vh;
}
.parrafo{
    font-size: 45px;
}
#valores{
    --box-size:210px;
    width:var(--box-size);
    height:var(--box-size);
    
}
.bloque{
    height: 70vh;
    
}
/* #secValores{
    margin-top: 200px;
} */
@media screen and(max-width:376px){
    .header-main{
        height:initial;
    }
}
a,h5{
    text-decoration: none;
    font-size: 25px;
    color: rgb(31, 32, 65);
  }

